<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fem.miw.upm.es.clientebuscamusic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_busca_music"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BuscarArtista" />
        <activity
            android:name=".PuntuarArtista"
            android:label="Puntuar artista"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name=".BuscarAlbum" />
        <activity
            android:name=".FiltroArtista"
            android:label="Buscar artista"
            android:theme="@android:style/Theme.Holo.Light.Dialog">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FiltroAlbum"
            android:label="Buscar disco"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name=".BuscarTopTracks" />
        <activity
            android:name=".ComentarAlbum"
            android:label="Añadir comentario al disco"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name=".VerComentariosAlbum" />
        <activity android:name=".AcercaDe"
            android:label="Acerca de"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
    </application>

</manifest>